$theme-colors: (
  "primary": #28a745,
  "secondary": #21B573,
  "info": #f8f9fa,
  "custom":#000,
);

html{
  font-size: 18px;
  @media (min-width: 1440px){
    font-size: 28px;
  }
}
nav{
  flex-wrap: none !important;

  // height: 10vh;
  .navbar-brand{
    font-weight: 800 !important;
    font-size: .92rem;
    img{
      height: 40px;
    }
  }
  .nav-link{
    font-weight: 700;
  }
  ul{
    margin: 0 !important;
    padding: 0 !important;
    li{
      a{
        padding: .5rem 1.6rem !important;
      }
      font-size: .9rem;
      &:hover{
        background-color: #21B573 ;
        border-radius: 1.2rem;
        a{
          color: #fff !important;
        }
      }
    }
  }
}
header{
  height: 90vh;
  background-color:#f0fff1;
  h5{
    color: #FD511A;
    font-weight: 700;
    font-size: 1.1rem;
  }
  h1{
    font-size: 3rem;
    span{
      color: #39ae53;
    }
  }
  img{
    width: 100%;
  }
  button{
    font-size: .9rem !important;
    font-weight: 900;
    border: 4px solid #21B573 !important;
    &:hover{
      background-color: #fff !important;
      color: #21B573 !important;

    }
  }
  @media (max-width: 769px){
    height: auto;
    text-align: center;
  }
}


#card-area{
  background-color:#f0fff1;

  .image-card{
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
    box-shadow: 2px 2px 40px 1px #dfdfdf;
    @media (max-width: 768px){
      margin: 1.5rem 0 !important;
      min-width: 280px;
    }
    .card-top{
      height: 50%;
      img{
        width: 70px;
      }
    }
    .card-info{
      font-weight: 600 !important;
    }
    .card-alt-info{
      p{
        font-size: .9rem ;
        margin: 0 !important;
      }
    }
  }
  
}

#courses{
  padding-top: 4rem;
  background-color: #f0fff1;
  h2{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

.course-card{
  background-color: #fff;
  border-radius: 1.2rem;
  padding: .8rem .8rem .5rem .8rem;
  box-shadow: 2px 2px 40px 1px #dfdfdf;

  @media (max-width: 768px){
    margin: 1.5rem 0;
  }

  button{
    margin-left: 1rem;
    font-size: .9rem !important;
    font-weight: 900;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 4px solid #21B573 !important;
    &:hover{
      background-color: #fff !important;
      color: #21B573 !important;

    }
  }
  .card-top{
    img{
      width: 100%;
      max-height: 12rem;
      border-radius: .8rem;
      margin-bottom: 1rem;
    }
  }
  .card-info{
    font-weight: 600 !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .card-alt-info{
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-size: .9rem ;
  }
  .card--footer{
    margin: 1rem 1rem 0 1rem !important;
    padding:0!important;
    img{
      width: 20px;
      height: 20px;
      margin-right: .2rem;
    }
    p{
      font-size: .7rem;
    }
  }
}
}

#testimonials{
  padding-top: 4rem;
  background-color: #f0fff1;
  h3{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  img{
    // width:100%;
    // min-width: 10rem;
    border-radius: 50%;
  }
  p{
    font-size: .9rem;
  }
}
#contact{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f0fff1;

  h3{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
  }
  p{
    font-size: .9rem;
  }
  label{
    font-size: .9rem;
  }
  form{
    input{
      background-color:#f0fff1;
      border-width: 2px;
      border-radius: .5rem;
    }
    .radio-section{
      .form-check{
        margin-right: 1rem;
      }
    }
    .checkbox-section{

      .form-check{
        margin-right: .5rem;
      }
      select{
        // min-width: 200px;
        font-size: .7rem;
        height: 2rem;
        margin: 0 !important;
      }
    }
    .btn-div{
      @media (max-width: 769px){
        text-align: center;
      }
      button{
        font-size: .9rem !important;
        font-weight: 900;
        border: 4px solid #21B573 !important;
    &:hover{
      background-color: #fff !important;
      color: #21B573 !important;

    }
      }
    }

  }


  .fill-bar-section{
    margin-bottom: 1.7rem;
    p{
      font-size: 1rem;
      font-weight: 500;
      color: #37ae52;
      margin-left: 1.2rem;
      margin-bottom: 1.5rem;
    }
    .outer{
      margin-left: 1rem;
      width: 90%;
      height: .6rem;
      background-color: #cfcfcf;
      border-radius: 1.2rem;
    }
    .inner{
      border-bottom-left-radius: 1rem ;
      border-top-left-radius: 1rem;
      height: 100%;
      background-color: #21B573;
      position: relative;

    }
    
    .inner1{

      width :76%;
    }
    .inner2{

      width :89%;
    }
    .inner3{

      width :73%;
    }
    .inner4{

      width :86%;
    }
    .inner5{

      width :64%;
    }
    .pop{
      position: absolute;
      font-weight: 700;
      font-size: .6rem;
      background-color: #93d48c;
      padding: .2rem .5rem;
      border-radius: .6rem;
      left: 100%;
      top: -175%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      &::after{
        content: '';
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid  #93d48c;

      }
    }
  }

  

}

footer{
  position: relative;
  height: 50vh;
  background-color: #282531;
  color: #fff;
  padding: 2rem 0;
  @media (max-width : 769px){
    height: auto;
    text-align: center;
  }
  p{
    font-size: .9rem;
    margin-bottom: 0 !important;
  }
  .head{
    font-weight: 700;
  }
  ul{
    padding: 0!important;
    li{
      list-style-type: none;
      font-size: .9rem;
    }
  }
  .attr{
    text-align: center;
    margin-top: 10rem 0 1rem 0;

    p{
      font-size: .7rem;
      margin-top: auto;
    }
  }
}
.attr-section{
  margin-top: -2px;
  padding-bottom:1rem;
  text-align: center;
  background-color: #282531;
  p{
    font-size: .9rem;
    margin-bottom: 0 !important;
  }
}
// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display', serif;
@import "../../node_modules/bootstrap/scss/bootstrap";

